<!-- Product Image Modal : Supported Pinch Zoom -->
<div class="bar bar-clear" style="z-index:13">
  <h1 class="title"></h1>
  <div class="buttons">
    <button ng-if="showSlider" class="button button-clear button-positive" ng-click="closeModal()">{{translation[iso_code]['Close']}}</button>
  </div>
</div>
<div class="modal image-modal transparent" on-swipe-down="closeModal()">
  <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="{{showPager}}" active-slide="activeSlide">
    <ion-slide ng-repeat="image in productImageIds">

      <ion-scroll direction="xy" scrollbar-x="false" scrollbar-y="false" zooming="true" min-zoom="{{zoomMin}}" style="width: 100%; height: 100%"
        delegate-handle="scrollHandle{{$index}}" on-scroll="updateSlideStatus(activeSlide)" on-release="updateSlideStatus(activeSlide)">

        <img class="imageZoom" ng-src="{{ImgUrl(product.id,image.id,'large_default')}}">

      </ion-scroll>
    </ion-slide>
  </ion-slide-box>
</div>